        <div class="quote-container">
          <h1 class="red">Are you a Spoke Geek?</h1>
          
          <p class="founder-quote gray">&ldquo;Riding is great for getting the heart rate up, exploring new places, chatting with friends... It&rsquo;s like golf. Except it&rsquo;s a workout and I know how to ride a bike.&rdquo; - Wil Everts, Club Founder</p>
          <p class="gray">Spoke Geek is a casual cycling club for SF start-up geeks and friends. Sign up below to receive our Strava club&rsquo;s password and group ride emails <em><small>(we promise not to spam you or sell your information.)</small></em></p>

          <div class="mailchimp">
            <form action="http://powderenvy.us2.list-manage.com/subscribe/post?u=9455618a19fa33f9c97d56019&amp;id=a3cbfa7871" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <ul class="tri-form clearfix">
                <li class="left"><h2><label for="mce-EMAIL" class="gray">Email</label></h2></li>
                <li class="left"><input type="email" value="" name="EMAIL" class="text-input" id="mce-EMAIL"></li>
                <li class="left last"><input type="submit" value="Let&rsquo;s Ride!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-red white"></li>
              </ul>
            </form>
          </div>

          <h3 class="gray">Next Group Rides:</h3>

          <ul class="orgs ribbon">
            <%= render :partial => 'common/event_list' %>
          </ul>
        </div>