<article class="main full-page">
  <div class="row">
    <div class="twelvecol">
      <h1>Thanks for signing up!</h1>
      <p>Almost finished! Check your email and click the link we just sent you to confirm your subscription and receive our strava club password.</p>
    </div>
  </div>
</article>