  <li class="bullet gray">
    <strong><%= event.text_field :name, :class => 'top-text'  %> (~<%= event.number_field :miles, :class => 'top-text club-events-miles'  %> Miles)</strong></br>
    <span class="sub"><%= event.text_area :description, :class => 'top-text club-events-desc'  %></span></br>
     <span class="sub"><%= event.date_select :date, :class => 'top-text' %> </span>
  </li>
</br></br></br></br></br></br></br></br></br>