<% events = Event.next_events(number) %>
<% (0..(number-1)).each do |i| %>
	<% if events[i] %>
	<li class="bullet gray">
		<strong><%= events[i].name %> (~<%= events[i].miles %> Miles)</strong> 
		<span class="sub"><%= events[i].description %></span>
	</li>
	<% else %>
		<% if i == 0 %>
		<li class="bullet gray">
			<strong>NO EVENTS LISTED</strong> 
		</li>
		<% end %>
	<% end %>
<% end %>