<% event = Event.next_event %>
<% (0..1).each do |i| %>
	<% if event[i] %>
	<li class="bullet gray">
		<strong><%= event[i].name %> (~<%= event[i].miles %> Miles)</strong> 
		<span class="sub"><%= event[i].description %></span>
	</li>
	<% else %>
	<li class="bullet gray">
		<strong>NO EVENTS LISTED</strong> 
	</li>
	<% end %>
<% end %>