<ol class="white">
  <% (0..2).each do |i| %>
    <% unless data[i]["amount"] == 0 %>
    <li>
      <%= data[i]["name"] + ' - ' + number_with_delimiter(number_with_precision(data[i]["amount"], :precision => decimals)) + units %>
    </li>
    <% end %>
  <% end %>
</ol>