<article class="bg-gray container sixth">
  <div class="row">
    <div class="fourcol">
      <h3>Sponsors</h3>
      <ul>
        <li><a href="mailto:your@cousinwil.com">Contact Us for sponsorship info</a></li>
      </ul>
    </div>
    <div class="fourcol">
      <h3>Links</h3>
      <ul>
        <li><a href="http://sfbike.org">San Francisco Bicycle Coalition</a></li>
        <li><a href="http://eff.org">Electronic Frontier Foundation</a></li>
        <li class="hide"><a href="#">Spoke Geek Blog</a></li>
      </ul>
    </div>
    <div class="fourcol last">
      <h3>Credits</h3>
      <ul>
        <li><a href="http://cousinwil.com">Wil Everts</a>: Founder, Designer, Lead Developer</li>
        <li><a href="http://gutsyprogrammer.com">Dosty Everts</a>: Ruby on Rails Developer</li>
      </ul>
    </div>
  </div>
  <div class="row next">
    <div class="twelvecol"><span class="yellow small">Copyright 2012, Wil Everts, All Rights Reserved</span></div>
  </div>

</article>