<article class="bg-gray container sixth">
<div class="row">
  <div class="eightcol"><span class="yellow small">Copyright 2012, Wil Everts, All Rights Reserved</span></div>
  <div class="fourcol last"></div>
</div>
</article>